@font-face {
	font-family: 'GothamNarrow-MediumItalic';
	src: url(../../assets/fonts/GothamNarrow-MediumItalic.woff2) format('woff2'),
	url(../../assets/fonts/GothamNarrow-MediumItalic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}