@font-face {
	font-family: 'GothamNarrow-BoldItalic';
	src: url(../../assets/fonts/GothamNarrow-BoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/GothamNarrow-BoldItalic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}