@font-face {
	font-family: 'GothamNarrow-BlackItalic';
	src: url(../../assets/fonts/GothamNarrow-BlackItalic.woff2) format('woff2'),
	url(../../assets/fonts/GothamNarrow-BlackItalic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}