@font-face {
	font-family: 'Gotham-Bold';
	src: url(../../assets/fonts/Gotham-Bold.woff2) format('woff2'),
	url(../../assets/fonts/Gotham-Bold.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}