@font-face {
	font-family: 'GothamNarrow-ThinItalic';
	src: url(../../assets/fonts/GothamNarrow-ThinItalic.woff2) format('woff2'),
	url(../../assets/fonts/GothamNarrow-ThinItalic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}