@font-face {
	font-family: 'GothamNarrow-Ultra';
	src: url(../../assets/fonts/GothamNarrow-Ultra.woff2) format('woff2'),
	url(../../assets/fonts/GothamNarrow-Ultra.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}