@font-face {
	font-family: 'Poynter Oldstyle Display Cond';
	src: url(../../assets/fonts/PoynterOldstyleDisplay-CondRoman.eot) format('embedded-opentype'),
	url(../../assets/fonts/PoynterOldstyleDisplay-CondRoman.eot) format('embedded-opentype'),
	url(../../assets/fonts/PoynterOldstyleDisplay-CondRoman.woff2) format('woff2'),
	url(../../assets/fonts/PoynterOldstyleDisplay-CondRoman.woff) format('woff'),
	url(../../assets/fonts/PoynterOldstyleDisplay-CondRoman.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Poynter Oldstyle Display Cond';
	src: url(../../assets/fonts/PoynterOldstyleDisplay-CondBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/PoynterOldstyleDisplay-CondBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/PoynterOldstyleDisplay-CondBold.woff2) format('woff2'),
	url(../../assets/fonts/PoynterOldstyleDisplay-CondBold.woff) format('woff'),
	url(../../assets/fonts/PoynterOldstyleDisplay-CondBold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}